<h1>Invoice</h1>

<table class="line-items">
  <thead>
    <tr>
      <th>Transaction Id</th>
      <th>Account</th>
      <th>Amount</th>
      <th>Transaction Type</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% transaktions.each do |transaction| %>
      <tr>
        <td><%= transaction.trans_set %></td>
        <td><%= transaction.account_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.trans_type %></td>
        <td><%= transaction.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>